<div class='h1'>
  イベント一覧
</div>
<hr>
<div class='list-group mt-4'>
  <% @events.each do |event| %>
    <%= link_to(event, class: 'list-group-item list-group-item-action') do %>
      <div class='h4 mt-2'>
        <%= event.name %>
      </div>
      <div class='mb-2'>
        <%= l event.start_time, format: :full_date %> - <%= l event.end_time, format: :full_date %>
      </div>
    <% end %>
  <% end %>
</div>
